<!doctype html>
<html>
	<head>
		<title>"%(subject)s" from %(from)s (%(date)s) - %(title)s</title>
		<link rel="stylesheet" href="../style.css">
	</head>
	<body>
		<h1>%(title)s</h1>
		<a href="%(index)s" class="back">&lt;&lt; back to index</a>
		<div class="main">
			<h2>%(subject)s</h2>
			<h3>%(version)s</h3>
			
			%(versions)s
			
			<table class="message">
				<tr>
					<th>From:</th>
					<th>To:</th>
					<th>Date:</th>
				</tr>
				<tr>
					<td>%(from)s</td>
					<td>%(to)s</td>
					<td>%(date)s</td>
				</tr>
				<tr>
					<td colspan="3" class="body">
						%(body)s
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>
