<!doctype html>
<html>
	<head>
		<title>"?subject" from ?from (?date) - ?title</title>
		<link rel="stylesheet" href="style.css">
	</head>
	<body>
		<h1>?title</h1>
		<a href="?index" class="back">&lt;&lt; back to index</a>
		<div class="main">
			<h2>?subject</h2>
			<h3>?version</h3>
			
			<table class="message">
				<tr>
					<th>From:</th>
					<th>To:</th>
					<th>Date:</th>
				</tr>
				<tr>
					<td>?from</td>
					<td>?to</td>
					<td>?date</td>
				</tr>
				<tr>
					<td colspan="3" class="body">
						?body
					</td>
				</tr>
			</table>
		</div>
	</body>
</html>
