html, body
{
	padding: 0px;
	margin: 0px;
	font-family: sans-serif;
	background-color: #F7F7F7 !important;
}

pre {
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	white-space: -pre-wrap;
	white-space: -o-pre-wrap;
	word-wrap: break-word;
}

.clear
{
	clear: both;
}

h1
{
	margin: 0px;
	padding: 9px 12px;
	background-color: #181818 !important;
	color: white;
}

a.back
{
	padding: 7px 12px;
	color: white !important;
	display: block;
	background-color: #393939;
}

a.back:hover
{
	background-color: #444444;
}

.main
{
	padding: 9px 13px;
}

h2, h3
{
	margin: 3px 0px;
}

table.message
{
	width: 100%;
	border: 2px solid #313131;
	border-collapse: collapse;
	margin-top: 20px;
}

table.message-detail > tbody > tr > th
{
	width: 33.33333%;
}

table.message-list > tbody > tr > td
{
	font-size: 14px;
}

table.message > tbody > tr > th, table.message > tbody > tr > td
{
	text-align: left;
	border: 1px solid #313131;
	padding: 5px 7px;
}

table.message > tbody > tr > th
{
	background-color: #313131;
	color: white;
}

table td.body
{
	border: 2px solid #313131;
	padding: 16px 13px;
}

.version, .attachment
{
	display: block;
	margin: 8px 6px 2px 0px;
	padding: 4px 0px;
	float: left;
	font-weight: bold;
}

a.version, a.attachment
{
	padding: 4px 6px;
	background-color: #464646 !important;
	color: white !important;
	text-decoration: none;
}

a.version:hover, a.attachment:hover
{
	background-color: #333333 !important;
}

.light
{
	font-weight: normal;
}
